<fieldset>
  <legend>Log In to Your Account</legend>
  <form id="login_form" action="<%= url('/login') %>" method="post">
    <div class="field">
      <label for="email">Email</label>
      <input id="user_email" name="email" size="30" type="email" />
    </div>  
    <div class="field">
      <label for="password">Password</label>
      <input id="user_password" name="password" size="30" type="password" />
    </div>
    <div class="submit field">
      <input type="submit" value="Login" />
    </div>
    <span class="button"><a class="left help-link" href="<%= url('/forgot_pwd') %>">Forgot password?</a></span>
    <span class="button"><a class="right help-link" href="<%= url('/signup') %>">Don't have account? SIGNUP</a></span>
  </form>
</fieldset>
